.mail-animation {
    display: block;
    margin: auto;
    max-width: 1200px;
}

#mailbox {
    animation: wiggle 2.5s infinite;
    height: 99px;
    width: 99px;
    margin: auto;
    margin-right: -1px;
    border: 3px solid rgba(0, 0, 0, 0);
}

#mailbox:hover {
    border: 3px solid white;
}

.mailbox-descriptor {
    max-width: 1200px;
    margin-left: auto;
    margin-right: 1px;
    text-align: right;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0deg);
    }
    85% {
        transform: rotate(10deg);
    }
    95% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
