.mail-animation {
    backdrop-filter: blur(10px);
    background: rgba(45, 45, 45, .7);
    display: flex;
    margin: auto;
    max-width: 1200px;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

#mailbox {
    animation: wiggle 2.5s infinite;
    margin: auto;
    width: fit-content;
    padding: 10px;
}

#mailbox:hover {
    background-color: #929292;
}

.mailbox-descriptor {
    max-width: 1200px;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(10deg);
    }

    95% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
